</div>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/semantic/semantic.min.js"></script>
<script>
    $('.message .close')
        .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade')
            ;
        })
    ;
</script>
</body>
</html>