<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>
    </div>
    <div class="ui main container">
        <% if (locals.flash && locals.flash.error) {%>
            <div class="ui negative message transition">
                <i class="close icon"></i>
                <div class="header">
                    Libre d'or !
                </div>
                <p><%= flash.error %></p>
            </div>
        <% }%>